//@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');
//@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');

  //@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,500;1,400&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500&display=swap');


.yachtclubolbia-logo {
    background-image: url(../img/yco-logo.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 290px;
    height: 60px;
    display: block;
    margin: 0 auto;
}


.btn-yachtclubolbia-icon {
    display: flex;
    padding-left: ($input-btn-padding-x)!important; 
    align-items: center;
}

.btn-yachtclubolbia-icon .yachtclubolbia-icon {
    display: flex;
    padding-left: 0.5rem;
}

.yachtclubolbia-icon::after {
    content: "";
    background-repeat: no-repeat;
    background-size: contain; 
    display: inline-block;
}

.icon-login::after {
    background-image: url(../icons/icon-login.svg);
    width: 16px;
    height: 19px;
}

.bg-yachtclubolbia-vector-1 {
    background-image: url('../img/yachtclubolbia-bg-vector-1.svg');
    background-repeat: no-repeat;
    background-size: auto;
    padding-bottom: .5rem;
}

@media screen and (min-width: 991px) {
    .bg-yachtclubolbia-vector-1 {
        background-position-x: right;
        background-position-y: 350px;
        padding-bottom: 280px;
    }

    .title-section .bg-image {
        min-height: 520px;
        background-size: cover;
        background-position: center;
    }
}

.title-section h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title-section h1::after {
    content: "";
    background-repeat: no-repeat;
    background-size: contain; 
    display: inline-block;
    background-image: url('../icons/icon-title-separator-white.svg');
    background-position: center;
    width: 90px;
    height: 10px;
    margin-top: .725rem;
}
 
.text-shadow {
    text-shadow: 0 0 5px rgba($black, .625);
}


.yco-footer-pattern {
    background-image: url('../img/yco-footer-vector.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom left;
    min-height: 10rem;


}




@media screen and (min-width: 992px) {
    .navbar-main-yco, .navbar-topmenu-yco {
        max-height: 3.75rem;
    }

    .navbar-main-yco a.navbar-brand {
        margin-top: -3.75rem;
    }

    #ycoHomeSlider .carousel-item {
        max-height: 100vh;
    }

    .yco-footer-pattern {
        min-height: 39rem;
       
    
    }


}
 
.section-pretitle {
    text-transform: uppercase;
    color: $primary;
}